$medium-screen: 720px;

.media-item {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
  .cover {
    position: absolute;
    width: 200px;
    height: 200px;
    transition: all 0.3s ease-out;
    top: 100%;
    background-color: transparentize(black, 0.5);
  }

  &:hover .cover {
    top: 0;
    transition: all 0.3s ease-in;
  }
}
.meta {
  @include vertical-align();

  h2 {
    color: #fcd901;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
  }
  h3 {
    color: #fcd901;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
  }
}

.bastion {
  margin-bottom: 10px;
  &.image {
    margin-left: 20px;
  }
}

.bastion-child {
  width: 32%;
  margin-bottom: 10px;
  box-sizing: border-box;
  &.video {
    width: 48%;
    &:nth-child(odd) {
      margin-right: 2%;
    }
    &:nth-child(even) {
      margin-left: 2%;
    }
  }
}

.bastion-child img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media screen and (max-width: $medium-screen) {
  .bastion.image {
    margin-left: 0;
  }
  .bastion-child {
    width: 100%;
  }
}