.news-item {
  padding-bottom: 20px;
}

.news-item:last-child {
  border-bottom: 0;
}

.news-item a {
  animation: text-decoration ease 1s;
}

.news-item a:hover {
  text-decoration: underline;
  animation: text-decoration ease 1s;
}

.news-item p a {
  color: $yellow;
}

.top-image {
  position: relative;
  height: 200px;
  margin-bottom: 1.5em;
  margin-left: -10px;
  margin-right: -10px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.top-image {
  h1, h2 {
    position: absolute;
    bottom: 0;
    background-color: transparentize($yellow, 0.6);
    margin: 0;
    padding: 5px 10px;
  }
}
