.media-item {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
  .cover {
    position: absolute;
    width: 200px;
    height: 200px;
    transition: all 0.3s ease-out;
    top: 100%;
    background-color: transparentize(black, 0.5);
  }

  &:hover .cover {
    top: 0;
    transition: all 0.3s ease-in;
  }
}
.meta {
  @include vertical-align();

  h2 {
    color: #fcd901;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
  }
  h3 {
    color: #fcd901;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
  }
}